.authentication__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 200px);
}

.authentication__container > h1 {
    margin-bottom: 35px;
}
