.checkout__container {
    padding: 80px 160px;
    width: calc(100% - 320px);
}

.checkout__container > button {
    float: right;
}

.checkout__review {
    margin-bottom: 20px;
}

.checkout__review > div:last-child {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;
}

.checkout__review > div:last-child > h3 > span {
    margin-left: 10px;
    margin-right: 20px;
}