.header__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: calc(100% - 80px);

    height: 55px;
    padding: 15px 40px;
    background-color: var(--primary);
}

.header__logo {
    cursor: pointer;
    color: var(--white);
    margin: 5px 0;
    width: fit-content;
    align-self: center;
}

.header__navigations {
    display: flex;
    flex-direction: row;
    justify-self: end;
    color: var(--white);
}

.header__navigations > div {
    cursor: pointer;
    padding: 15px;
    transition: 0.2s;
}

.header__navigations > div:hover {
    transform: translateY(-2px);
}